*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.hidden{
    display: none;
}

.big-button{
    font-family: Rockwell, 'Sanchez', 'serif';
    background: #91D868;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 3px;
    padding: 8px 75px;
}

.big-button:hover{
    background: #91D868;
    cursor: pointer;
}


.info-icon{
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    top: -2px;
    background: white;
}

.tooltip{
    display: none;
    position: absolute;
    background: #2095f0;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.tooltip:after{
    display: block;
    content: ' ';
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2095f0;
}

.expander{

    display: inline-block;
    width: 0;
    height: 0;
    left: 5px;
    position: relative;
    margin-right: 5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #2095f0;
    top: -1px;
}

.expander.expanded{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2095f0;
    top: 5px;
    left: 5px;
    position: relative;
}

.collapsed{
    display: none;
}

body{
    font-family: Rockwell, 'Sanchez', 'serif';
    margin: 0;
    color: #2095f0;
}

header{
    background-color: #2095f0;
    -webkit-font-smoothing: antialiased;
    color: white;
    padding: 40px 0 40px 40px;
}

header .inner{
    max-width: 960px;
    margin: 0 auto;
}

header .headers{
    float: left;
}

header .logo{
    height: 60px;
    position: relative;
    float:left;
}

header h2 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

header .user {
    float: right;
    padding-right: 30px;
    position: relative;
    top:5px;
}

header .user a {
    color: white;
    font-size : 18px;
    text-decoration: none;
    position: relative;
}

footer{

    background-color: #2095f0;
    -webkit-font-smoothing: antialiased;
    color: white;
    padding: 40px 0 40px 40px;

}

footer .copy{
    color: white;
    font-size: 18px;
}

@media only screen and (max-width:600px){
    header h1 {
        font-size: 42px;   
    }
    header h2 {
        font-size: 22px;
    }
    header .user a {
        font-size: 16px;
    }

}


@media only screen and (max-width:550px){
    header .logo{
        height: 40px;
    }

    header h2 {
        font-size: 20px;
    }

    header .user a {
        font-size: ;
    }

    header .user{
        bottom: 38px;
    }

}

@media only screen and (max-width:550px){

    header {
        padding: 15px 0px 20px 20px;
    }

    header .logo{

    }

    header h2 {
        font-size: 15px;
    }

    header .user a {
        font-size: 14px;
    }

    header .user{
        clear: both;
        float: none;
        bottom: -5px;
        left: 5px;
    }

}



@media only screen and (max-width:400px){

    header h1 {
        font-size: 32px;   
    }
    header h2 {
        font-size: 18px;
    }


}

#content {
    max-width: 960px;
    margin: 0 auto 100px;
}
#content .inner{
    margin-top: 45px;
    padding: 0 40px;
}

.tabs{
    margin: 10px 0 0 0;
}

.tab{
    font-size: 36px;
    display: inline-block;
    color: #a3c4ef;
    margin-right: 45px;
    cursor: pointer;
    transition: all 0.3s ease;
}


@media only screen and (max-width:510px){
    .tab{
        font-size: 25px;
        margin-right: 8px;
    }
}

@media only screen and (max-width:450px){

    #content .inner{
        margin-top: 25px;
        padding: 0 20px;
    }

    .tabs{
        /*margin-bottom: 20px;*/
    }
    .search-button {
        width: 100%;
        margin: 0 auto;
    }
}

.tab.active{
    border-bottom: 3px solid #2095f0;
    color: #2095f0;
}

.tab:hover{
    color: #2095f0;
}

.field{
    margin: 30px 0;
}

.field label{
    font-size: 24px;
    vertical-align: bottom;
    margin-right: 6px;
}

.field input[type=text]{
    display: block;
    font-size: 18px;
    padding: 7px;
    background: none;
    border: 1px solid #2095f0;
    border-radius: 3px;
    margin-top: 15px;
    font-style: italic;
    width: 80%;
    max-width: 400px;
}

.field #cc {
    clear: both;
    display: block;
    font-size: 16px;
}

.field select{
    display: block;
    margin-top: 15px;
    font-size: 14px;
}
.field select option{

}

.field .ages input{
    width: 75px;
    display: inline-block;
}

#rating ul{
    list-style-type: none;
    font-size: 18px;
    padding: 0;
}

#rating input{
    font-size: 34px;
}


.results-added {
    margin-top: 25px;
}

.results-added .fields {
    width: 34%;
    float: left;
}

.results-added .field{
    margin: 15px 0;
    padding: 0 5px;
}

.results-added .field label  {
    font-size: 18px;
}

.results-added .field input[type=text] {
    font-size: 12px;
    padding: 3px;
}

.results-added .expander{
    border-width: 5px;
    margin-right: 5px;
}

.results-added #rating ul{
    font-size: 16px;
}

.results-added .info-icon{
    display: none;
}

.results-added .search-button{
    padding: 5px 55px;
    font-size: 16px;
}

.results-bucket{
    display: none;
    border-left: 1px solid #a3c4ef;
    float: left;
    width: 64%;
    padding-left: 2%;
}

.results-bucket h2 {
    font-size: 30px;
    margin-top:0;
}

.results-bucket .search-term, .association-arrow{
    font-weight: normal;
    font-size: 30px;
}

.results-added .results-bucket{
    display: block;
}

.search-again-button{
    display: none;
    background: none;
    border: none;
    font-family: Rockwell, 'Sanchez', 'serif';
    color: #2095f0;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 23px;
    font-weight: normal;
    cursor: pointer;
}

.results-added .search-again-button {
    display: block;
}


@media only screen and (max-width:768px){
    .results-bucket h2{
        font-size: 20px;
    }

    .results-bucket .search-term, .association-arrow {
        font-size: 22px;
    }
}

@media only screen and (max-width:750px){
    .results-added .fields{
        display: none;
    }
    .results-added .results-bucket{
        width: 90%;
        border-left: none;
    }
}

.search-result {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #a3c4ef;
    border-bottom: 1px solid #a3c4ef;
}

.search-result:last-child{
    border-bottom: none;
}

.search-result .video-summary{
    float: left;
    width: 70%;
}

.search-result .video-details{
    clear: both;
    display: none;
}

.search-result .video-details > div{
    float: left;
    width: 50%;
    padding: 5px;
}


.search-result .video-details a{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    margin: 5px;
    color: #2095f0;
}



.search-result .video-thumbnail {
    float: left;
    width: 28%;
    margin-right: 2%;
    position: relative;
}

.search-result .video-thumbnail .time {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: #85c362;
    color: white;
    padding: 5px;
}

.search-result .video-thumbnail-image {
    width: 100%;
}

.search-result .video-summary .title {
    font-weight: bold;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    display: block;
}

.search-result .video-summary .author {
    margin: 6px 0;
    display: block;
}

.details-button{
    background: none;
    border: none;
    font-family: Rockwell, 'Sanchez', 'serif';
    color: #85C362;
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

.video-details .big-button{
    position: relative;
    margin: 5px 0;
    font-size: 13px;
    padding: 5px 10px;
}

@media only screen and (max-width:768px){
    .details-button{
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        border:1px solid #85C362;
        padding:1px 3px;
        border-radius:3px
    }

    .search-result .video-thumbnail .time{
        font-size: 12px;
    }
}

@media only screen and (max-width:450px){
    .search-result .video-summary .title, .search-result .video-summary .author {
        font-size: 12px;
    }
    .search-result .video-details > div{
        float: none;
        width: 100%;
        clear:both;
        font-size: 12px;
    }

    .search-result .video-details a {
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: none;
        border:1px solid #2095f0;
        padding:1px 3px;
        border-radius:3px;
        display: inline-block;
        clear: both;
    }

}


.ui-autocomplete{
  color: #2095f0;
  background: white;
  z-index: 7 !important;
}


.ui-menu {
  border: 1px solid #2095f0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 200px;
  list-style-type: none;
  padding: 10px 0;
}

.ui-menu-item{
    padding: 5px;
}

.ui-menu-item:hover{
    background: #2095f0;
    color: white;
}

.ui-menu-item:not(:last-child){
  border-bottom: 1px solid gray;
}







